.empty{
  background:url("board_piece_empty.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.yellow {
  background:url("board_piece_yellow.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.yellow_display {
  background:url("board_display_yellow.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.red{
  background:url("board_piece_red.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.red_display{
  background:url("board_display_red.png");
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.button{
    height:20px;
    width:200px;
}

.table {
  width: 80%;
  margin: 1em auto;
  table-layout: fixed;
  text-align: center;
  background-repeat:no-repeat;
  background-size:100% 100%;
}

td {
  height: 40px;
}
